# Visual Studio files
.vs/
/bin/
/obj/

# Resharper files
_ReSharper*/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

# Rider
.idea/
*.sln.iml
*.ipr
*.iws

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop
*.pidb
*.userprefs

# Xamarin
*.pdb
*.xcuserdata
*.xcworkspace

# Unity3D
Temp/
Library/
*.unityproj
*.sln
*.csproj
*.unitypackage

# Flutter/Dart/Pub related
**/.dart_tool/
**/.flutter-plugins
**/.packages
**/.pub-cache/
**/ios/Flutter/.last_build_id